
.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.produtos__area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.produto__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    gap: 8px;
}

.produto__box a {
    color: var(--azul);
    font-size: 16px;
    font-family: var(--raleway);
    font-weight: 700;
}

.titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.produtos__titulo {
    color: var(--preto);
    text-align: start;
    font-family: var(--raleway);
    font-weight: 700;
    line-height: normal;
    padding: 2rem 0;
}

.mostrar__mais {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--azul);
    font-family: var(--raleway);
    font-size: 16px;
    font-weight: 700;
}

.produtos__area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto__img {
    height: 174px;
}

.produto__item {
    font-size: 14px;
    font-family: var(--raleway);
    font-weight: 500;
    color: var(--preto);
}

.produto__preco {
    font-size: 16px ;
    font-family: var(--raleway);
    font-weight: 700;
    color: var(--preto);
}

@media screen and (min-width: 0) {
    .produtos {
        padding: 16px;
    }
    
    .produtos__titulo {
        font-size: 22px;
    }

    .produto__img{
        width: 156px;
    }
    
    .produto__box{
        width: 154px;
    }
  
}

@media screen and (min-width: 768px) {
    .produtos {
        padding: 32px;
    }
    .produtos__titulo {
        font-size: 22px;
    }
    .produto__img{
        width: 166px;
    }

    .produto__box{
        width: 164px;
    }

}

@media screen and (min-width: 992px) {
    .produtos__titulo {
        font-size: 32px;
    }

    .produto__img{
        width: 176px;
    }

    .produto__box{
    width: 174px;
    }

    .titulo {
        justify-content: space-between;
        margin: 0 110px;
    }
    
} 