.rodape {
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape__descricao {
    color: var(--preto);
    text-align: center;
    font-family: var(--raleway);
    font-weight: 500;
}

@media screen and (min-width: 0) {
.rodape{
     padding: 16px 0;
}
.rodape__descricao{
    font-size: 14px;
    margin: 0.5rem 0;
}
    
}

@media screen and (min-width: 768px) {
.rodape{
    padding: 32px 0;
}
.rodape__descricao {
    font-size: 14px;
    margin: 0 6.5rem;
}
   
}

@media screen and (min-width: 992px) {
.rodape{
    padding: 32px 0;
}
.rodape__descricao{
    font-size: 16px;
    margin: 0 6.5rem;
}
    
}