:root {
    --preto: #464646;
    --azul-claro: #EAF2FD;
    --azul: #2A7AE4;
    --cinza-claro: #F5F5F5;
    --cinza-medio: #C8C8C8;
    --cinza: #A2A2A2;
    --branco: #FFFFFF;
    --raleway : 'Raleway', sans-serif;
}
